# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables files
.env

# Ignore build output directory
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
